
  <!-- <ion-grid *ngIf="projects | async as projects; else loading">
    <ion-row>
      <ion-col *ngFor="let project of projects" size="12">
        <ion-card  mode="ios">
          <ion-card-header>
            <ion-card-title>{{ project.name }}</ion-card-title>
            <ion-card-subtitle>{{ project.domain }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p class="muted"><b>Client:</b> {{ project.client }}</p>
            <p class="muted"><b>Duration:</b> {{ project.duration }}</p>
            <p class="muted"><b>Description:</b> {{ project.desc }}</p>

            <ion-badge  color="tertiary" size="small" outline>
              
            </ion-badge>

             <span *ngFor="let platform of project.platform">
               &nbsp;<ion-badge  color="tertiary"> <ion-icon [name]="getPlatformIcon(platform)"></ion-icon> {{ platform }} </ion-badge> 
            </span> <br/>
            <span *ngFor="let tech of project.techanology">
              &nbsp;<ion-badge  color="tertiary"> {{ tech }}</ion-badge> 
            </span>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->

<div *ngIf="projects | async as projects; else loading">

  <swiper-container
    #slides
    pagination="true"
    navigation="true"
    [slidesPerView]="1"
    [spaceBetween]="10"
    [centeredSlides]="true"
    animation="slide"
    autoplay="{
      delay: 2000,
      disableOnInteraction: false
    }"
    [loop]="true"
      (slideChange)="onSlideChanged()">
      <swiper-slide *ngFor="let project of projects">
        <ion-card  mode="ios">
          <ion-card-header>
            <ion-card-title>{{ project.name }}</ion-card-title>
            <ion-card-subtitle>{{ project.domain }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p class="muted"><b>Client:</b> {{ project.client }}</p>
            <p class="muted"><b>Duration:</b> {{ project.duration }}</p>
            <p class="muted"><b>Description:</b> {{ project.desc }}</p>

            <ion-badge  color="tertiary" size="small" outline>
              
            </ion-badge>

             <span *ngFor="let platform of project.platform">
               &nbsp;<ion-badge  color="tertiary"> <ion-icon [name]="getPlatformIcon(platform)"></ion-icon> {{ platform }} </ion-badge> 
            </span> <br/>
            <span *ngFor="let tech of project.techanology">
              &nbsp;<ion-badge  color="tertiary"> {{ tech }}</ion-badge> 
            </span>
            
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <!-- <swiper-slide>Slide 2 Content</swiper-slide>
      <swiper-slide>Slide 3 Content</swiper-slide> -->
    </swiper-container>
</div>


<ng-template #loading>
  <div class="ion-text-center ion-padding">
    <ion-spinner name="dots"></ion-spinner>
    <p>Fetching projects...</p>
  </div>
</ng-template>