<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SAGAR PANCHAL</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button>
          <!-- <ion-fab-button fill="outline" color="peimary" size="small">
            <ion-icon name="menu"></ion-icon>
          </ion-fab-button>
          <ion-fab-list></ion-fab-list> -->
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SAGAR PANCHAL</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-list>
  <ion-list-header>
    <ion-label color="primary">WORK HISTORY</ion-label>
  </ion-list-header>

  <ion-grid>
    <ion-row >
      <ion-col class="ion-no-padding" size-sm="6" size-md="2.5" size-lg="2.5" size-xl="2.5">
        <ion-card card-mode="outline" color="light">
        <img alt="HCL tech" src="../../../assets/images/hcl.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Technical Lead</ion-card-subtitle>
          <ion-card-subtitle>2022 - Present</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      </ion-col>
      <ion-col class="ion-no-padding" size-sm="6" size-md="2.5" size-lg="2.5" size-xl="2.5">
        <ion-card card-mode="outline" color="light">
        <img alt="HCL tech" src="../../../assets/images/atozinfoway.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Sr. Developer</ion-card-subtitle>
          <ion-card-subtitle>2015 - 2022</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  
</ion-list>

<ion-list>
  <ion-list-header>
    <ion-label color="primary">KEY PROJECTS</ion-label>
  </ion-list-header>

  <ion-grid>
    <ion-row >
      <ion-col class="ion-no-padding" size-sm="6" size-md="2.5" size-lg="2.5" size-xl="2.5">
        <ion-card card-mode="outline" color="light">
        <img alt="HCL tech" src="../../../assets/images/hcl.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Technical Lead</ion-card-subtitle>
          <ion-card-subtitle>2022 - Present</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      </ion-col>
      <ion-col class="ion-no-padding" size-sm="6" size-md="2.5" size-lg="2.5" size-xl="2.5">
        <ion-card card-mode="outline" color="light">
        <img alt="HCL tech" src="../../../assets/images/atozinfoway.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Sr. Developer</ion-card-subtitle>
          <ion-card-subtitle>2015 - 2022</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>

  
</ion-list>
  
</ion-content>