.content-body {
  backdrop-filter: blur(10px);
  // --background: rgb(80, 5, 38);
}

// ion-segment {
//   --background: #54dc98;
// }

ion-fab .fab-list-active{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(100, 100, 100, 0.5);
}