<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>SAGAR PANCHAL</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content class="content-body"> <!-- [fullscreen]="true" -->
<!-- 
  <ion-fab slot="fixed" vertical="top" horizontal="end" >  
    <ion-menu-button>
        <ion-fab-button>
        <ion-icon name="menu"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="end" #fabList>
        <div class="fab-backdrop" ></div>
      </ion-fab-list>
      </ion-menu-button>
    </ion-fab> -->

  <!-- <ion-toolbar>   -->
  <ion-segment color="light" [scrollable]="true" mode="md" value="a">
    <ion-segment-button value="a" content-id="a">
      <ion-label color="light">Companies</ion-label>
    </ion-segment-button>
    <ion-segment-button value="b" content-id="b">
      <ion-label color="light">Projects</ion-label>
    </ion-segment-button>
    <ion-segment-button value="c" content-id="c">
      <ion-label color="light">Default</ion-label>
    </ion-segment-button>
    <ion-segment-button value="d" content-id="d">
      <ion-label color="light">Segment</ion-label>
    </ion-segment-button>
    <!-- <ion-segment-button value="e">
        <ion-label>Default</ion-label>
      </ion-segment-button>
      <ion-segment-button value="f">
        <ion-label>Segment</ion-label>
      </ion-segment-button> -->
  </ion-segment>
  <!-- </ion-toolbar> -->

  <ion-segment-view>
    <ion-segment-content id="a">
     
      <app-company></app-company>
    </ion-segment-content>
    <ion-segment-content id="b">

     <app-project></app-project>

    </ion-segment-content>
    <ion-segment-content id="c">Third</ion-segment-content>
    <ion-segment-content id="d">First</ion-segment-content>
    <!-- <ion-segment-content id="e">Second</ion-segment-content>
  <ion-segment-content id="f">Third</ion-segment-content> -->
  </ion-segment-view>





  <!-- <ion-list>
  <ion-list-header>
    <ion-label color="primary">KEY PROJECTS</ion-label>
  </ion-list-header>

  <ion-grid>
    <ion-row >
      <ion-col class="ion-no-padding" size-sm="6" size-md="2.5" size-lg="2.5" size-xl="2.5">
        <ion-card card-mode="outline" color="light">
        <img alt="HCL tech" src="../../../assets/images/hcl.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Technical Lead</ion-card-subtitle>
          <ion-card-subtitle>2022 - Present</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      </ion-col>
      <ion-col class="ion-no-padding" size-sm="6" size-md="2.5" size-lg="2.5" size-xl="2.5">
        <ion-card card-mode="outline" color="light">
        <img alt="HCL tech" src="../../../assets/images/atozinfoway.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Sr. Developer</ion-card-subtitle>
          <ion-card-subtitle>2015 - 2022</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>

  
</ion-list> -->


  <!-- <div class="circular-progress-container">
  <div class="circular-progress-bar">
    <svg class="circular-progress-svg" viewBox="0 0 100 100">
      <circle class="circular-progress-bg" cx="50" cy="50" r="45"></circle>
      <circle class="circular-progress-fill" cx="50" cy="50" r="45"></circle>
    </svg>
    <ion-progress-bar value="0.75"></ion-progress-bar>
    <div class="progress-text">75%</div>
  </div>
</div> -->

</ion-content>