
ion-card{
    img {
        // border-radius: 50%;
        width: 100%;
        // height: 150px;
        margin: 0 auto;
        // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        // transition: transform 0.3s ease;
    }
}