// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
    /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #1ea5fc; //#000000 #1ea5fc //#1d9da0
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

    /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

    /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

    /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;
}
 


// --ion-background-color: linear-gradient(to right , var(--ion-color-primary1), var(--ion-color-primary1-tint));  
    // --ion-text-color: var(--ion-color-primary);
    // --ion-item-background-color: linear-gradient(to right, var(--ion-color-primary1), var(--ion-color-primary1-tint)); 
    // --ion-toolbar-color: var(--ion-color-white); 
    ion-toolbar {
      --background: transparent;
      --ion-toolbar-border-color: transparent;
    }
    ion-split-pane {
      --side-width: 345px;
    }
    ion-content::part(scroll)::-webkit-scrollbar {
        display: none;
    }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.body {
  background: linear-gradient(-45deg, #500526, #ee0d70, #500526, #ee0d70, #500526);
  //   background: linear-gradient(3deg, #500526 0%, #ee0d70 100%);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  min-height: 100vh;
  display: flex;
} 

ion-card {
    border: 0.5px solid #ffffff9e;
    border-radius: 15px;
    // box-shadow: 0 4px 6px rgba(255, 255, 255, 0.296);
    margin: 10px;
    // padding: 10px;
    // width: 90%;
    animation: fadeIn 1s ease-in-out;
}
