<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" auto-hide="true" type="push" side="start" menuId="mainMenu"
      swipeGesture="false">
      <ion-content>
        <div class="body">

          <ion-card>
            <ion-card-header class="ion-padding-top">
              <ion-img src="./assets/images/profile.png" alt="Profile"></ion-img>
            </ion-card-header>
            <ion-card-content>
              <div color="light" class="ion-text-center">
                <ion-card-title color="light">Sagar Panchal</ion-card-title>
                <ion-card-subtitle class="ion-padding-top" color="light"> Technical Lead </ion-card-subtitle>

                <ion-list lines="none" slot="content">
                  <ion-item href="mailto:panchalsagar21@gmail.com">
                    <ion-icon name="mail-outline" slot="start"></ion-icon>
                    <ion-label for="email">panchalsagar21@gmail.com</ion-label>
                  </ion-item>
                  <ion-item href="tel:+918866245921">
                    <ion-icon aria-hidden="true" name="call-outline" slot="start"></ion-icon>
                    <ion-label>+91 8866245921</ion-label>
                  </ion-item>
                  <ion-item href="https://www.google.com/maps/place/Gujarat" target="_blank">
                    <ion-icon aria-hidden="true" name="location-outline" slot="start"></ion-icon>
                    <ion-label>India, Gujarat</ion-label>
                  </ion-item>

                  <ion-item-group class="ion-text-center ion-padding-top">
                    <ion-chip *ngFor="let tech of techanologies | async" [color]="tech.category_color" [outline]="true">
                      <ion-icon [name]="tech.icon"></ion-icon>
                      <ion-label>{{tech.skill}}</ion-label>
                    </ion-chip>
                  </ion-item-group>
                </ion-list>
              </div>
            </ion-card-content>

            <ion-toolbar>
              <ion-row class="ion-text-center no-padding no-margin">
                <ion-col class="no-padding no-margin">
                  <ion-button fill="clear" href="https://linkedin.com/in/spanchal11" target="_blank">
                    <ion-icon slot="icon-only" name="logo-linkedin" color="light"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button fill="clear" href="https://github.com/git-spanchal11" target="_blank">
                    <ion-icon slot="icon-only" name="logo-github" color="light"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button fill="clear" href="https://stackoverflow.com/users/6796942/spanchal" target="_blank">
                    <ion-icon slot="icon-only" name="logo-stackoverflow" color="light"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button fill="clear" href="https://forum.ionicframework.com/u/spanchal" target="_blank">
                    <ion-icon slot="icon-only" name="logo-ionic" color="light"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
          </ion-toolbar>
        </ion-card>


          <!-- 
          <ion-accordion value="skills">
            <ion-item slot="header">
              <ion-label>SKILL SET</ion-label>
            </ion-item>
            <ion-list lines="none" slot="content">
              <ion-item label-placement="stacked">
                <ion-label position="stacked">Adaptability</ion-label>
                <ion-progress-bar value="0.8"></ion-progress-bar>
              </ion-item>
              <ion-item label-placement="stacked">
                <ion-label position="stacked">Analytical</ion-label>
                <ion-progress-bar value="0.7"></ion-progress-bar>
              </ion-item>
              <ion-item label-placement="stacked">
                <ion-label position="stacked">Leadership</ion-label>
                <ion-progress-bar value="0.7"></ion-progress-bar>
              </ion-item>
              <ion-item label-placement="stacked">
                <ion-label position="stacked">Problem Solving</ion-label>
                <ion-progress-bar value="0.9"></ion-progress-bar>
              </ion-item>
              <ion-item label-placement="stacked">
                <ion-label position="stacked">Decision Making</ion-label>
                <ion-progress-bar value="0.7"></ion-progress-bar>
              </ion-item>
              <ion-item label-placement="stacked">
                <ion-label position="stacked">Time Management</ion-label>
                <ion-progress-bar value="0.9"></ion-progress-bar>
              </ion-item>

              


            </ion-list>
          </ion-accordion>
         -->

         
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>