<ion-grid class="ion-no-padding ion-no-margin">
  <ion-row class="ion-no-padding ion-no-margin">
    <!-- HCL Technologies -->
    <ion-col class="ion-no-padding ion-no-margin" size="12" size-sm="12" size-md="12" size-lg="3" size-xl="3">
      <ion-card mode="ios" class="ion-text-lefts">
        <ion-img src="../../../assets/images/hcl.jpg" alt="HCL Technologies"
          style="border-top-left-radius:12px;border-top-right-radius:12px;"></ion-img>
        <ion-card-header>
            <!-- <ion-card-title>HCL TECHNOLOGIES</ion-card-title> -->
            <ion-card-subtitle>Technical Lead <br /> 2022 - Present</ion-card-subtitle>
        </ion-card-header>

        <!-- <ion-card-content class="muted ">
          <ion-list lines="none">
            <ion-item>
              <ion-icon name="people-outline" slot="start" color="tertiary"></ion-icon>
              <ion-label>Led cross-functional teams across time zones to deliver high-quality hybrid and web
                applications ensuring performance & maintainability.</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="construct-outline" slot="start" color="warning"></ion-icon>
              <ion-label>Played a key role in architecture & design decisions; mentored developers improving
                onboarding efficiency by 50%.</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="chatbubbles-outline" slot="start" color="success"></ion-icon>
              <ion-label>Collaborated with stakeholders to translate requirements into scalable solutions;
                improved time-to-market via agile delivery.</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content> -->
      </ion-card>
    </ion-col>

    <!-- AtoZ INFOWAY LLP -->
    <ion-col size="12" size-sm="12" size-md="12" size-lg="3" size-xl="3">
      <ion-card mode="ios" class="ion-text-left">
        <ion-img src="../../../assets/images/atozinfoway.jpg" alt="AtoZ INFOWAY LLP"
          style="border-top-left-radius:12px;border-top-right-radius:12px;"></ion-img>
        <ion-card-header>
          <!-- <ion-card-title>AtoZ INFOWAY LLP</ion-card-title> -->
          <ion-card-subtitle>Software Developer <br /> 2015 - 2022</ion-card-subtitle>
        </ion-card-header>
        <!-- <ion-card-content class="muted">
          <ion-list lines="none">
            <ion-item>
              <ion-icon name="people-outline" slot="start" color="tertiary"></ion-icon>
              <ion-label>Built and led a cross-functional mobile development team, providing technical
                training and continuous mentoring.</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="construct-outline" slot="start" color="warning"></ion-icon>
              <ion-label>Managed the full SDLC focusing on scalability and performance, optimizing
                workflows for productivity.</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="chatbubbles-outline" slot="start" color="success"></ion-icon>
              <ion-label>Contributed to system architecture, requirement gathering, planning, and code
                reviews ensuring high-quality delivery.</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content> -->
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>



<!-- <ion-item>
            <ion-thumbnail slot="start">
              <img src="../../../assets/images/hcl.jpg" />
            </ion-thumbnail>
            <ion-img></ion-img>
            <ion-label>
              <strong>HCL Technologies</strong><br />
              <ion-text>Technical Lead </ion-text><br />
              <ion-note color="medium" class="ion-text-wrap">
                March 2022 - Present
              </ion-note>
            </ion-label>
          </ion-item> -->