 <ion-list>
        <ion-list-header>
          <ion-label color="primary">WORK HISTORY</ion-label>
        </ion-list-header>

        <ion-grid>
          <ion-row>
            <ion-col class="ion-no-padding" size-xs="6" size-sm="6" size-md="2.5" size-lg="2.5" size-xl="2.5">
              <ion-card card-mode="outline" color="light">
                <img alt="HCL tech" src="../../../assets/images/hcl.jpg" />
                <ion-card-header>
                  <ion-card-subtitle>Technical Lead</ion-card-subtitle>
                  <ion-card-subtitle>2022 - Present</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-col>
            <ion-col class="ion-no-padding" size-sm="6" size-md="2.5" size-lg="2.5" size-xl="2.5">
              <ion-card card-mode="outline" color="light">
                <img alt="HCL tech" src="../../../assets/images/atozinfoway.jpg" />
                <ion-card-header>
                  <ion-card-subtitle>Sr. Developer</ion-card-subtitle>
                  <ion-card-subtitle>2015 - 2022</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>


      </ion-list>